<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FindYourCat</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="main__aside_left col-md-2"></div>
      <div class="main__content col-md-8">
        <header>
          <h1>LOGO HERE</h1>
        </header>
        <nav>
          NAV
        </nav>


        <div id="slider">
          <a href="#" class="control_next">>></a>
          <a href="#" class="control_prev"><</a>
          <ul>
            <li>SLIDE 1</li>
            <li style="background: #aaa;">SLIDE 2</li>
            <li>SLIDE 3</li>
            <li style="background: #aaa;">SLIDE 4</li>
          </ul>
        </div>

        <section id="callToAction">
          <a href='#' class="callToActionLink">Trouver un chat</a>
        </section>

      </div>
      <div class="main__aside_right col-md-2"></div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
