<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FindYourCat</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>LOGO HERE</h1>
    </header>
    <div class="row">

      <div class="main__aside_left col-md-3"></div>
      <div class="main__content col-md-6">

        <input class="search" type="text" value="Trouver un chat..."/>
        <ul class="search_filters">
          <li>Paris</li>
          <li>|</li>
          <li>chat</li>
          <li>|</li>
          <li>test</li>
          <li>|</li>
          <li>much fun</li>
          <li>|</li>
          <li>team Jul</li>
          <li>|</li>
          <li>olé le pdo</li>
        </ul>

        <div id="slider">
          <a href="#" class="control_next">></a>
          <a href="#" class="control_prev"><</a>
          <ul>
            <li>SLIDE 1</li>
            <li style="background: #aaa;">SLIDE 2</li>
            <li>SLIDE 3</li>
            <li style="background: #aaa;">SLIDE 4</li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4 button_container">
            <h4>Poster un chat</h4>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4 button_container">
            <h4>Retrouver un chat</h4>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4 sub_container">
            <div class="sub_container_header">
              <h3>Annonces Récentes</h3>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 sub_container">
            <div class="sub_container_header">
              <h3>Derniers chats retrouvés</h3>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>


        <section id="hdiw">
          <h3>Comment ça marche</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>

        <footer>
          footer
        </footer>
      </div>
      <div class="main__aside_right col-md-3"></div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
