<header>
    <h2>Header</h2>
    <nav>
        <ul>
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('lost_index') }}">Lost</a></li>
            <li><a href="{{ url('found_index') }}">Found</a></li>
        </ul>
    </nav>
</header>
