<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FindYourCat</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <img src="imgs/logo.png" alt="">
    </header>
    <div class="main__content col-md-12 formChat">
      <h5>FORMULAIRE CHAT PERDU</h5>

      <h5>Nom / Adresse / Date</h5>
      <div class="container_info">
        <div class="info_left">
          <p>Nom</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="name">
        </div>
      </div>

      <div class="container_info">
        <div class="info_left">
          <p>Adresse</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <div>
            <p>Adresse</p>
            <input type="text" name="adresse">
          </div>
          <div>
            <p>Ville</p>
            <input type="text" name="ville">
          </div>
          <div>
            <p>Pays</p>
            <input type="text" name="pays">
          </div>
        </div>
      </div>

      <div class="container_info">
        <div class="info_left">
          <p>Date</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="date">
        </div>
      </div>

      <h5>Contact</h5>
      <div class="container_info">
        <div class="info_left">
          <p>E-mail</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="email">
        </div>
      </div>
      <div class="container_info">
        <div class="info_left">
          <p>Téléphone</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="telephone">
        </div>
      </div>

      <h5>Description</h5>
      <div class="container_info">
        <div class="info_left">
          <p>Race</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="race">
        </div>
      </div>
      <div class="container_info">
        <div class="info_left">
          <p>Poils</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="poils">
        </div>
      </div>
      <div class="container_info">
        <div class="info_left">
          <p>Couleur</p>
          <span>Obligatoire</span>
        </div>

        <div class="info_right">
          <input type="text" name="couleur">
        </div>
      </div>
    </div>
  </body>
</html>
