<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FindYourCat</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <!-- HEADER CONTENT -->
    </header>
    <nav>
      <!--  NAV CONTENT -->
    </nav>
    <div class="row">
      <div class="main__backgroun_left col-md-1"></div>
      <div class="main__aside_left col-md-1"></div>
      <div class="main__content_left col-md-4"></div>
      <div class="main__content_right col-md-4"></div>
      <div class="main__aside_right col-md-1"></div>
      <div class="main__background_right col-md-1"></div>
    </div>
  </body>
</html>
