body {
  height: 100vh;
  background-color: #FFF0DB;
}

div > form > h2.form-signin-heading{
  margin-top: 5px;
}

.cat__aside{
  height: 100vh;
  background-color: #CE5993;
}

.form-signin {
  max-width: 330px;
  padding: 15px 20px 30px 20px;
  margin: 0 auto;
  margin-top: 30%;
  border: 1px solid #444;
  border-radius: 2px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.form-control, .btn{
  border-radius: 4px;
}

.submit{
  padding: 20px 40px;
  text-align: center;
  line-height: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #CE5993;
}

.btn{
  border-color: #444;
  background-color: #FFF0DB;
  color: #444;
}

.btn:hover, .btn:active, .btn:focus, .btn:active:focus{
  border-color: #FFF;
  background-color: #CE5993;
  outline: none;
}
