#left-side, #right-side {
  height: 100vh;
  background-color: #CE5993;
}

#table-content {
  height: 100vh;
  overflow: scroll;
}

.table {
  margin-top: 20vh;
  overflow: auto;
}

.caption {
  text-align: right;
  font-size: 1.4em;
}

th {
  background-color: #FBF2E2;
}

#table-content > table > tbody > tr> td > img {
  width: 10em;
}
