{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>
    Feature
    <ul>
        <li>List des derniers chat perdus</li>
        <li>List des derniers chat trouvé</li>
    </ul>
{% endblock %}